* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2c3e50;
	font-family: 'Barlow Condensed', sans-serif;
}

a {
	text-decoration: none;
}

#base_top {
	height: 5%;
	display: table;
	width: 100%;
	text-transform: uppercase;
	background-color: #3C3C3C;
}

#base_title {
	display: table-cell;
	vertical-align: middle;
	font-size: 2.5em;
	color: white;
}

#base_account {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-size: 1.2em;
	color: white;
}

#base_no_cnf {
	padding: 0.5% 1%;
	margin-right: 1%;
	border-radius: 5px;
	background-color: #f44336;
}

#base_log_btn {
	padding: 0.5% 1%;
	border-radius: 5px;
	margin-right: 1%;
}

#base_div {
	border-style: solid;
	border-color: #1E88E5;
}

#base_nav {
	display: none;
	height: 5%;
	width: 100%;
	text-transform: uppercase;
	background-color: #616161;
}

#base_level_nav {
	display: table-cell;
	vertical-align: middle;
}

.base_nav_urls {
	font-size: 1.5em;
	color: white;
	margin-left: 1%;
}

#base_page_nav {
	display: none;
	text-align: right;
	vertical-align: middle;
}

#base_page_count {
	font-size: 1.5em;
	margin-right: 1%;
	color: white;
}

.base_page_btn {
	display: none;
	font-size: 1.5em;
	background-color: #607D8B;
	color: white;
	padding: 0 0.5%;
}

.base_page_btn:hover {
	background-color: white;
	color: #607D8B;
}

.no_content {
	text-align: center;
	background-color: #f44336;
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 1%;
	padding: 2% 0;
}

.btn {
	background-color: #448AFF;
	color: white;
	text-transform: uppercase;
	text-align: center;
	transition: background-color .3s;
	cursor: pointer;
	font-family: 'Barlow Condensed', sans-serif;
	border: none;
}

.btn:hover {
	background-color: white;
	color: #448AFF;
	transition: background-color .3s;
}

.in_svg {
	height: 0.7em;
}

.mono {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 0.9em;
	word-wrap: break-word;
	list-style-position: inside;
}
