#board_confirm_box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(33,33,33,0.7);
	font-size: 1.5em;
	text-transform: uppercase;
}

#board_confirm_box_btns {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;

	height: 30%;
	margin-top: 17.5%;
	text-align: center;
	background-color: #607D8B;
}

#board_confirm_yes, #board_confirm_no {
	background-color: blue;
	width: 70%;
}

#board_confirm_yes {
	background-color: #8BC34A;
	color: black;
}

#board_confirm_no {
	background-color: #b71c1c;
	color: white;
}

#board_top_bar {
	margin-bottom: 1%;
}

.board_top_btns {
	display: inline-block;
	width: 17%;
	margin-top: 1%;
	margin-left: 1%;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}

#board_admin_label {
	display: inline-block;
	color: white;
	font-size: 1.5em;
	margin-left: 1%;
	width: 17%;
	text-transform: uppercase;
	text-align: right;
}

#board_new_thread {
	display: none;
	margin: 1%;
	width: 98%;
}

#board_new_thread_lbl {
	color: white;
	vertical-align: bottom;
	font-size: 1.5em;
}

#board_new_thread_ttl {
	vertical-align: bottom;
	width: 50%;
	border: none;
	border-radius: 5px 5px 0 0;
	padding: 0.4%;
}

#board_new_thread_cnt {
	height: 50%;
	background-color: white;
}

#board_new_thread_btn {
	float: right;
	border: none;
	padding: 0 1%;
	height: 1.5em;
	vertical-align: bottom;
	font-size: 1.2em;
}

#board_user_mng_cnt {
	display: none;
	width: 98%;
	margin-left: 1%;
	color: black;
}

#board_user_search_cnt {
	display: table-cell;
	width: 30%;
	padding: 0 0 1% 0;
	vertical-align: top;
	border-radius: 5px;
	background-color: #F5F5F5;
}

.board_user_info {
	text-align: center;
}

#board_user_search_username {
	display: block;
	width: 100%;
}

#board_user_search_btn {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	border: none;
	font-size: 1.5em;
}

#board_bulk_users {
	display: table-cell;
	vertical-align: top;
	border-radius: 5px;
	background-color: #F5F5F5;
}

#board_bulk_file_cnt {
	display: inline-block;
	width: 30%;
	margin-left: 1%;
	margin-top: 1%;
}

#board_bulk_file_label {
	display: block;
	font-size: 1.2em;
}

#board_bulk_btn {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-top: 1%;
	border: none;
	font-size: 1.5em;
}

#board_bulk_options {
	display: inline-block;
	float: right;
	width: 66%;
	margin-right: 1%;
	padding-left: 1%;
	margin-top: 1%;
	border-left: 1px solid black;
}
