#index_top_btns {
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
}

#index_new_board_btn {
	font-size: 1.5em;
	padding: 0 1%;
}

#index_new_board {
	display: none;
	margin: 1% 1% 0 1%;
	padding: 1%;
	width: 40%;
	border-radius: 5px;
	background-color: white;
}

#index_new_board_name_lbl {
	font-size: 1.2em;
	vertical-align: middle;
	text-transform: uppercase;
}

#index_new_board_name {
	float: right;
	vertical-align: middle;
	height: 1.8em;
	width: 60%;
}

#index_new_board_create {
	display: block;
	font-size: 1.5em;
	vertical-align: middle;
	padding: 0 1%;
}
