#lst_tbl {
	width: 98%;
	margin: 1% 1%;
	background-color: white;
	border-spacing: 0;
	text-transform: uppercase;
}

#lst_tbl th, #lst_tbl td {
	padding: 1%;
}

#lst_tbl th {
	background-color: #2980b9;
	text-align: left;
	font-size: 1.2em;
	color: white;
}

#lst_tbl td {
	font-size: 1em;
	color: black;
}

.lst_tbl_btn {
	float: right;
	width: 9%;
	margin-left: 0.5%;
}
