#acc_main_ctn {
	margin-top: 3%;
}

#acc_app {
	display: inline-block;
	width: 20%;
	margin-left: 5%;
	padding: 2% 1%;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#acc_ppic {
	width: 80%;
	margin: 0 10%;
	margin-bottom: 5%;
	object-fit: contain;
}

#acc_change_pp_btn {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10%;
	font-size: 1.2em;
}

#acc_change_pp {
	display: none;
	padding: 5% 5%;
	margin-bottom: 5%;
	border-radius: 5px;
	background-color: #9E9E9E;
}

#acc_change_pp_btn_sub {
	width: 50%;
	margin: 5% 25%;
	margin-bottom: 0;
}

#acc_info {
	width: 90%;
	margin-left: 5%;
	border-radius: 5px;
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
	background-color: #EEEEEE;
}

#acc_options {
	display: inline-block;
	float: right;
	width: 70%;
}

.acc_title {
	display: block;
	font-size: 1.2em;
	margin-bottom: 1%;
	text-decoration: underline;
}

.acc_labels {
	display: block;
	font-size: 1.1em;
}

.acc_fields {
	text-align: left;
}

.acc_btns {
	display: block;
	padding: 0 1%;
	margin-top: 1%;
	font-size: 1.1em;
	vertical-align: middle;
}

.acc_opt_div {
	background-color: #EEEEEE;
	margin-bottom: 1%;
	padding: 1%;
	padding-right: 0;
	border-radius: 5px 0 0 5px;
}

.acc_err, .acc_suc {
	padding: 1%;
	border-radius: 5px 0 0 5px;
}

.acc_err {
	background-color: #f44336;
}

.acc_suc {
	background-color: #4CAF50;
}
