#profile_main_cnt {
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	padding: 0;
}

#profile_inst {
	margin-left: 1%;
	color: white;
	font-size: 1.2em;
}

#profile_info {
	display: inline-block;
	width: 20%;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#profile_ppic {
	display: block;
	width: 80%;
	margin-left: 10%;
	padding: 10% 0;
}

#profile_boards {
	display: inline-block;
	float: right;
	width: 80%;
	vertical-align: top;
}

.profile_options {
	text-align: center;
}

.profile_positive {
	background-color: #4CAF50;
	color: white;
}

.profile_positive:hover {
	background-color: white;
	color: #4CAF50;
}

.profile_negative {
	background-color: #f44336;
	color: white;
}

.profile_negative:hover {
	background-color: white;
	color: #f44336;
}
