#thread_tbl {
	margin: 1%;
	width: 98%;
	border-spacing: 10px;
}

.thread_user_inf {
	float: left;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	text-transform: uppercase;
}

.thread_ppic {
	display: block;
	width: 70%;
	margin: 2% 15%;
	object-fit: contain;
}

.thread_user_btn {
	display: inline-block;
	width: 80%;
	border-radius: 0 0 5px 5px;
}

.thread_post_txt_area {
	width: 90%;
	padding: 10px;
	border-radius: 5px;
	background-color: #B0BEC5;
	word-wrap: break-word;
	vertical-align: top;
	list-style-position: inside;
}

p {
	margin-bottom: 0.5em;
}

.thread_post_info {
	width: 99%;
	margin-bottom: 0.7%;
	padding: 0.5%;
	padding-bottom: 0.5%;
	border-radius: 5px;
	background-color: white;
}

.thread_post_inbtn {
	float: right;
	margin-left: 0.5%;
	word-break: keep-all;
	width: 8%;
}

.thread_quote_heading {
	font-size: 1.2em;
}

.thread_post_quote {
	margin-bottom: 0.7%;
	width: 98%;
	padding: 1%;
	padding-bottom: 0.4%;
	border-radius: 10px;
	background-color: #90A4AE;
}

#thread_post_files {
	border-radius: 5px;
	margin-top: 1%;
	padding: 0.5%;
	background-color: #78909C;
}

.thread_file_link {
	color: #1A237E;
}

#thread_new_quote {
	display: none;
	width: 70%;
	margin-left: 5%;
	margin-bottom: 1%;
	border-radius: 10px;
	background-color: #B0BEC5;
}

#thread_new_quote_txt {
	background-color: white;
	padding: 1%;
	margin: 1% 0;
	border-radius: 10px;
}

.thread_login_warn {
	padding: 2%;
	border-radius: 10px;
	color: black;
	background-color: #f44336;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: underline;
}

#thread_new_post_txt_area {
	display: inline-block;
	width: 70%;
	height: 40%;
	margin-bottom: 5%;
	margin-left: 5%;
	background-color: white;
}

#thread_new_post_hints {
	padding: 1%;
	border-radius: 5px;
	background-color: #B0BEC5;
	margin-bottom: 1%;
}

#tread_new_post_btn_block {
	display: inline-block;
	float: right;
	width: 25%;
}

.thread_new_post_btn {
	display: block;
	width: 70%;
	margin-top: 2%;
	margin-bottom: 2%;
	border: none;
	font-size: 1.5em;
}

input[type="file"] {
	display: none;
}

#thread_new_file_names {
	color: white;
	margin-left: 2%;
	font-size: 1.2em;
}

.thread_new_file_name {
	width: 60%;
	margin-bottom: 1%;
	padding-left: 1%;
	background-color: #FF5722;
	color: black;
}
