* {
	margin: 0;
	padding: 0;
	font-family: 'Barlow Condensed', sans-serif;
}

body {
	background-color: #2C3E50;
}

#acc_error, #acc_req, #acc_suc {
	width: 100%;
	margin-top: 1%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}

#acc_error {
	background-color: #f44336;
}

#acc_req {
	background-color: #FF9800;
}

#acc_suc {
	background-color: #4CAF50;
}

#acc_main {
	background-color: #607D8B;
	width: 25%;
	margin-top: 10%;
	margin-left: 37.5%;
	padding: 2% 0;
	border-radius: 10px;
}

.acc_lbl {
	display: block;
	margin-top: 5%;
	margin-left: 10%;
}

#id_username, #id_password, #id_password2, #id_email, #id_new_password1, #id_new_password2 {
	display: block;
	width: 80%;
	margin-left: 10%;
	font-family: monospace;
}

.acc_btn {
	display: block;
	width: 100%;
	margin-top: 5%;
	text-transform: uppercase;
	font-size: 1.2em;
	border: none;
	color: #5C616C;
	background-color: #F4F5F7;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
