{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "acc/css/base.css" %}"/>
		<link rel="shortcut icon" type="image/png" href="{% static "forum/images/favicon.png" %}">
		{% block css %}
		{% endblock %}

		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
	</head>

	<body>
		{% block content %}
		{% endblock %}

		{% block onready %}
		{% endblock %}
	</body>

</html>
