{% extends "registration/base.html" %}
{% block content %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div id=acc_main>
	{% if form.errors %}
	<div id=acc_error>Your username and password didn't match. Please try again.</div>
	{% endif %}
	{% if next and next != "/" %}
	<div id=acc_req>Please login to see this page.</div>
	{% endif %}
	<label for=id_username class=acc_lbl>Username:</label>
	{{ form.username }}
	<label for=id_username class=acc_lbl>Password:</label>
	{{ form.password }}

	<button class=acc_btn type=submit value=login>Login</button>
	<a class=acc_btn href="{% url 'forum:register' %}">Register</a>
	<a class=acc_btn href="{% url 'password_reset' %}">Lost password?</a>
	<a class=acc_btn href="{% url 'forum:index' %}">Index</a>
</div>

<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
