{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
<form method="post">
	{% csrf_token %}
		{% if form.email.errors %}
		<div id=acc_error>{{ form.email.errors }}</div>
		{% endif %}
		<div id=acc_req>Please enter your email address to reset your password</div>
		<label for=id_email class=acc_lbl>Email:</label>
		{{ form.email }}
		<button class=acc_btn type=submit>Reset password</button>
</form>
<a class=acc_btn href="{% url 'forum:index' %}">Index</a>
</div>

{% endblock %}
