{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
	<div id=acc_suc>Password has been successfully changed</div>
	<a class=acc_btn href="{% url 'login' %}">Login</a>
</div>
{% endblock %}
