{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
	<div id=acc_req>
		If an account was associated with the given email address you will receive
		an email with instructions to reset your password.
	</div>
	<a class=acc_btn href="{% url 'forum:index' %}">Return to homepage</a>
</div>
{% endblock %}
