{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
	{% if validlink %}
	<div id=acc_req>Please enter (and confirm) your new password:</div>
	<form action="" method=post>
		{% csrf_token %}

		<label for=id_new_password1 class=acc_lbl>New password:</label>
		{{ form.new_password1 }}

		<label for=id_new_password2 class=acc_lbl>Confirm password:</label>
		{{ form.new_password2 }}

		<button class=acc_btn type=submit>Change my password</button>
	</form>
	{% else %}
	<div id=acc_error>
		The password reset link was invalid, possibly because it has already
		been used. Please request a new password reset.
	</div>
	{% endif %}
{% endblock %}
