{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
	<div id=acc_req>
		Registration successful, please proceed to the login page to log into your account
	</div>
	<a class=acc_btn href="{% url 'login' %}">Login</a>
</div>
{% endblock %}
