{% extends "registration/base.html" %}
{% block onready %}
	<script>
document.getElementById("id_username").value = "{{ prev.username }}";
document.getElementById("id_email").value = "{{ prev.email }}";
document.getElementById("id_password").value = "{{ prev.password }}";
document.getElementById("id_password2").value = "{{ prev.password2 }}";
	</script>
{% endblock %}
{% block content %}
<div id=acc_main>
	{% if error.username %}
	<div id=acc_error>The username you specified is already in use, please choose another</div>
	{% elif error.email %}
	<div id=acc_error>The email you provided is already in use, please choose another</div>
	{% elif error.password_match %}
	<div id=acc_error>The passwords you provided did not match</div>
	{% elif error.password_inv_len %}
	<div id=acc_error>The new password is too short, it must be at least 8 characters long</div>
	{% elif error.password_inv_lower %}
	<div id=acc_error>The new password must contain at least one lowercase letter (a-z)</div>
	{% elif error.password_inv_upper %}
	<div id=acc_error>The new password must contain at least one uppercase letter (A-Z)</div>
	{% elif error.password_inv_number %}
	<div id=acc_error>The new password must contain at least one number (0-9)</div>
	{% elif error.password_inv_special %}
	<div id=acc_error>The new password must contain at least one special character</div>
	{% endif %}

	<div id=acc_req>To create a new account please fill in all fields</div>

	<form method="post" action="{% url 'forum:register' %}">
		{% csrf_token %}
		<label for=id_username class=acc_lbl>Username:</label>
		<input type=text id=id_username name=username required />
		<label for=id_email class=acc_lbl>Email address:</label>
		<input type=email id=id_email name=email required />
		<label for=id_password class=acc_lbl>Password:</label>
		<input type=password id=id_password name=password required />
		<label for=id_password2 class=acc_lbl>Confirm password:</label>
		<input type=password id=id_password2 name=password2 required />

		<input type=submit class=acc_btn value=Register />
	</form>

	<a class=acc_btn href="{% url 'forum:index' %}">Index</a>
</div>
{% endblock %}

