<html>
	<body>
		<p>Before you can use your new email address for COS Forum you will
		need to confirm it, please confirm it by following this link:
		<a href="http://{{ request.META.HTTP_HOST }}{% url 'forum:confirm_email' token %}">Here</a>
		</p>
	</body>
</html>

