<html>
	<body>
		<p>
		Your post has been mentioned on the forum. You can see the post that mentioned
		yours by going to this link: 
		<a href="http://{{ request.META.HTTP_HOST }}{% url 'forum:post' post.id %}">Here</a>
		</p>
	</body>
</html>
