<html>
	<body>
		<p>A new thread has been created with the title "{{ thread.title }}". To view this thread
		follow this link: <a href="http://{{ request.META.HTTP_HOST }}{% url 'forum:thread' thread.id 1 %}">Here</a>
	</body>
</html>
