
<html>
	<body>
		<p>A new post has been posted in "{{ thread.title }}". To view the post
		follow this link: <a href="http://{{ request.META.HTTP_HOST }}{% url 'forum:post' post.id %}">Here</a>
	</body>
</html>
