{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "forum/css/base.css" %}">
		<link rel="shortcut icon" type="image/png" href="{% static "forum/images/favicon.png" %}">
		{% block css %}
		{% endblock %}

		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Ubuntu+Mono" rel="stylesheet">
		<script>
function nav_level(text, link) {
	document.getElementById("base_nav").style.display = 'table';
	nav = document.getElementById("base_level_nav");
	pre = ''
	if (nav.style.display == '')
		nav.style.display = 'table-cell';
	else
		pre = '<span class=base_nav_urls>-</span>';
	nav.innerHTML += pre + '<a class=base_nav_urls href="' + link +
		'">' + text + '</a>';
}

function set_pages(cur, max) {
	document.getElementById("base_nav").style.display = 'table';
	document.getElementById("base_page_nav").style.display = 'table-cell';
	if (cur != max) {
		btn = document.getElementById("base_page_btn_next");
		btn.style.display = 'inline';
		btn.href = "{{ request.path }}".replace(/\/[^\/]*\/$/, '/' + (cur + 1));
	}
	if (cur != 1) {
		btn = document.getElementById("base_page_btn_prev");
		btn.style.display = 'inline';
		btn.href = "{{ request.path }}".replace(/\/[^\/]*\/$/, '/' + (cur - 1));
	}
}
		</script>
	</head>

	<body>
		<div id=base_top>
			<a id=base_title href="/"><span style="margin-left: 1%">COS FORUM</span></a>

			<span id=base_account>
				{% if user.is_authenticated %}
				{% if not user.profile.cnf_em %}
				<span id=base_no_cnf>Email address is not confirmed</span>
				{% endif %}
				<span style="margin-right: 0.5%">Welcome, {{ user.get_username }}</span>
				<a id=base_log_btn class=btn href="{% url 'forum:my_account' %}">Account</a>
				<a id=base_log_btn class=btn href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
				{% else %}
				<a id=base_log_btn class=btn href="{% url 'forum:register' %}">Register</a>
				<a id=base_log_btn class=btn href="{% url 'login' %}?next={{request.path}}">Login</a>
				{% endif %}
			</span>
		</div>
		<hr id=base_div>

		<div id=base_nav>
			<span id=base_level_nav></span>

			{% if page_id %}
			<span id=base_page_nav>
					<span id=base_page_count>Page {{ page_id }} of {{ page_max }} </span>
					<a id=base_page_btn_prev class=base_page_btn>Prev</a>
					<a id=base_page_btn_next class=base_page_btn>Next</a>
			</span>
			{% endif %}
		</div>

		{% block content %}
		{% endblock %}

		{% block onready %}
		{% endblock %}
	</body>
</html>
