{% extends "forum/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "forum/css/board.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "forum/css/lst_tbl.css" %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<title>{{ board.name }} - COS Forum</title>

{% endblock %}
{% block onready %}
<script>
nav_level("{{ board.name }}", "{% url 'forum:board' board.id 1 %}");
set_pages({{ page_id }}, {{ page_max }})

function show_new_thread() {
	a = document.getElementById("board_new_thread");
	a.style.display = a.style.display == '' ? 'block' : '';
	b = document.getElementById("board_new_thread_open");
	b.innerHTML = a.style.display != '' ? 'Close' : 'New Thread';
	t = document.getElementById("lst_tbl");
	if (t != null) {
		t.style.display = a.style.display != '' ? 'none' : 'table';
	}
	n = document.getElementById("board_user_mng_cnt")
	if (n != null) {
		n.style.display = '';
	}
	ns = document.getElementsByClassName("no_content");
	for (var i = 0; i < ns.length; i++) {
		ns[i].style.display = a.style.display != '' ? 'none' : '';
	}
}

function show_user_mng() {
	if (document.getElementById("board_new_thread").style.display != '') {
		show_new_thread()
	}
	m = document.getElementById("board_user_mng_cnt");
	m.style.display = m.style.display == '' ? 'table' : '';
}

function confirm_exc() {
	v = document.getElementById("board_confirm_box");
	v.style.display = v.style.display != 'block' ? 'block' : 'none';
}

var simplemde = new SimpleMDE({
	element: document.getElementById("board_new_thread_txt"),
	forceSync: true,
	spellChecker: false,
	hideIcons: ["quote", "guide", "preview", "side-by-side"],
	tabSize: 4,
	status: false,
});

</script>
{% endblock %}
{% block content %}
{% if level <= 1 %}
<div id=board_confirm_box>
	<div id=board_confirm_box_btns>
		Are you sure you want to change this board's exclusivity? If the board is made
		non-exclusive all private threads will be reset to public.

		<a href="{% url 'forum:board_exc' board.id page_id %}" id=board_confirm_yes>Yes</a>
		<a href="javascript:confirm_exc()" id=board_confirm_no>No</a>
	</div>
</div>
{% endif %}

{% if level <= 3 %}
<div id="board_top_bar">
	<a id=board_new_thread_open class="btn board_top_btns"
		href="javascript:show_new_thread()">New Thread</a>

	<a class="btn board_top_btns" href="{% url 'forum:board_sub' board.id page_id %}">
		{% if subbed %}
		Unsubscribe
		{% else %}
		Subscribe
		{% endif %}
	</a>

	{% if level <= 2 %}
	<br>
	<a class="btn board_top_btns" href="javascript:show_user_mng()">User management</a>
	{% endif %}

	{% if level <= 1 %}
	<span id="board_admin_label">
		Make board
	</span>
	<a class="btn board_top_btns" href="javascript:confirm_exc()">
		{% if board.exclusive %}
		Non-Exclusive
		{% else %}
		Exclusive
		{% endif %}
	</a>
	{% if board.exclusive %}
	<a class="btn board_top_btns" href="{% url 'forum:board_private' board.id page_id %}">
		{% if board.private %}
		Public
		{% else %}
		Private
		{% endif %}
	</a>
	{% endif %}
	<a class="btn board_top_btns" href="{% url 'forum:board_files' board.id page_id %}">
		{% if board.allow_files %}
		Block files
		{% else %}
		Allow files
		{% endif %}
	</a>
	{% endif %}
</div>

<div id=board_new_thread>
		<form action="{% url 'forum:new_thread' board.id %}" method="post">
			{% csrf_token %}
			<label for=board_new_thread_ttl id=board_new_thread_lbl>Thread title:</label>
			<input name=title type=text id=board_new_thread_ttl
				placeholder="Enter title for new thread" required />
			<button type=submit class=btn id=board_new_thread_btn>Create thread</button>
			<div class=mono id=board_new_thread_cnt>
				<textarea name=text id=board_new_thread_txt required></textarea>
			</div>
		</form>
</div>

{% if level <= 2 %}
<div id=board_user_mng_cnt>
	<div id=board_user_search_cnt>
		<p class=board_user_info>You can search for a user from
		this form. You will be taken to their profile management page
		once they are found</p>
		<hr>

		<div style="width: 70%; margin-left: 15%; margin-top: 5%;">
			<form action="{% url 'forum:profile_search' %}" method=post>
				{% csrf_token %}
				<label for=board_user_search_username>Username:</label>
				<input type=text name=username id=board_user_search_username required />
				<button class=btn id=board_user_search_btn>Search</button>
			</form>
		</div>
	</div>

	<div style="display: table-cell; width: 1%;"></div>

	<div id=board_bulk_users>
		<p class=board_user_info>You can manage users in bulk from this form. Any non-existing
		users will be ignored. Users with a higher level than the one specified below will
		be demoted to the specified level.</p>
		<hr>

		<form action="{% url 'forum:profile_bulk' board.id page_id %}" method=post enctype="multipart/form-data">
			{% csrf_token %}

			<div id=board_bulk_file_cnt>
				<label id=board_bulk_file_label for=board_bulk_file>CSV upload:</label>
				<input type=file name=csv id=board_bulk_file required />
				<button class=btn id=board_bulk_btn>Upload</button>
			</div>

			<div id=board_bulk_options>
				Change users to permissions level:<br>
				{% if board.exclusive %}
				<input type=radio name=level value=4 required>No access</input><br>
				<input type=radio name=level value=3 required>Access</input><br>
				{% endif %}
				{% if level <= 1 %}
				<input type=radio name=level value=2 required>Moderator</input><br>
				{% endif %}
				{% if level == 0 %}
				<input type=radio name=level value=1 required>Owner</input><br>
				{% endif %}
			</div>

		</form>
	</div>
</div>
{% endif %}

{% endif %}

{% if threads %}
<table id=lst_tbl>
	<tr>
		<th style="width: 70%">Title</th>
		<th>Posts</th>
		<th>Last</th>
	</tr>

	{% for thread in threads %}
	<tr>
		<td>
			{% if thread.locked %}
			<img class=in_svg src="{% static "forum/images/lock.svg" %}">
			{% endif %}
			{% if thread.sticky %}
			<img class=in_svg src="{% static "forum/images/pin.svg" %}">
			{% endif %}

			<a style="color:black" href="{% url 'forum:thread' thread.id 1 %}">
				{{ thread.title }}
				{% if thread.private %}
				<span style="color:red">(PRIVATE)</span>
				{% endif %}
			</a>

			{% if level <= 3 %}
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_sub' thread.id page_id %}">
				{% if thread in user.profile.sub_threads.all %}
				Unsubscribe
				{% else %}
				Subscribe
				{% endif %}
			</a>
			{% endif %}

			{% if level <= 2 %}
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_delete' thread.id page_id %}">
				{% if thread.deleted %}
				Un-delete
				{% else %}
				Delete
				{% endif %}
			</a>
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_sticky' thread.id page_id %}">
				{% if thread.sticky %}
				Un-sticky
				{% else %}
				Sticky
				{% endif %}
			</a>
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_lock' thread.id page_id %}">
				{% if thread.locked %}
				Unlock
				{% else %}
				Lock
				{% endif %}
			</a>
			{% if board.exclusive %}
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_private' thread.id page_id %}">
				{% if thread.private %}
				Public
				{% else %}
				Private
				{% endif %}
			</a>
			{% endif %}
			{% if level == 0 %}
			<a class="lst_tbl_btn btn" href="{% url 'forum:thread_destroy' thread.id page_id %}">
				Destroy
			</a>
			{% endif %}
			{% endif %}
		</td>
		<td>{{ thread.children.count }}</td>
		<td>{{ thread.last }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class=no_content>There are currently no threads available</div>
{% endif %}
{% endblock %}
