{% extends "registration/base.html" %}
{% block content %}
<div id=acc_main>
	{% if success %}
	<div id=acc_suc>
		Your email address has been successfully confirmed.
	</div>
	{% else %}
	<div id=acc_error>
		This token is invalid
	</div>
	{% endif %}

	<a href="{% url 'forum:index' %}" class=acc_btn>Go to index</a>
	<a href="{% url 'forum:my_account' %}" class=acc_btn>Go to my account</a>
</div>
{% endblock %}
