{% extends "forum/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "forum/css/index.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "forum/css/lst_tbl.css" %}">

<title>COS Forum</title>
{% endblock %}
{% block onready %}
{% if profile.admin %}
	<script>
function show_new_board() {
	c = document.getElementById("index_new_board");
	c.style.display = c.style.display == '' ? 'block' : '';
}
	</script>
{% endif %}
{% endblock %}
{% block content %}
{% if profile.admin %}
<div id=index_top_btns>
	<button onclick="show_new_board()" class=btn id=index_new_board_btn>New board</button>
</div>

<div id=index_new_board>
	<form action="{% url 'forum:new_board' %}" method="post">
		{% csrf_token %}

		<label id=index_new_board_name_lbl for=index_new_board_name>Enter new board name:</label>
		<input type=text name=name id=index_new_board_name placeholder="Enter name here" required />
		<button class=btn id=index_new_board_create>Create board</button>
	</form>
</div>
{% endif %}
{% if boards %}
<table id=lst_tbl>
	<tr>
		<th style="width: 80%">Title</th>
		<th>Last post</th>
	</tr>
	{% for board in boards %}
	<tr>
		<td><a style="color:black"
				href="{% url 'forum:board' board.id 1 %}">{{ board.name }}
				{% if board.private %}
				<span style="color: red">(PRIVATE)</span>
				{% endif %}
			</a>

			{% if profile.admin %}
			<a class="btn lst_tbl_btn" href="{% url 'forum:board_delete' board.id %}">Delete</a>
			{% endif %}

		</td>
		<td>{{ board.last }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class=no_content>There are currently no boards available</div>
{% endif %}
{% endblock %}
