{% extends "forum/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "forum/css/my_account.css" %}">
{% endblock %}
{% block onready %}
	<script>
function show_change_pp() {
	document.getElementById("acc_change_pp").style.display = 'block';
}
{% if error.pp_inv %}
show_change_pp()
{% endif %}
	</script>
{% endblock %}
{% block content %}
<div id=acc_main_ctn>
	<div id=acc_app>
		<img id=acc_ppic src="
		{% if prf.prf_pic %}
		{{ prf.prf_pic.url }}
		{% else %}
		{% static "forum/images/no_pp.svg" %}
		{% endif %}" />
		<a class=btn id=acc_change_pp_btn href="javascript:show_change_pp()">Change profile picture</a>
		<div id=acc_change_pp>
			{% if error.pp_inv %}
			<div class=acc_err style="border-radius: 5px;">Invalid image file</div>
			{% endif %}
			<form action="{% url 'forum:my_account' %}" method=post enctype="multipart/form-data">
				{% csrf_token %}
				<input type=hidden name=section value=ppic />

				<label class=acc_labels>Select a new profile picture:</label>
				<input name=new_pp type=file required />
				<input class="btn acc_btns" id=acc_change_pp_btn_sub type=submit value=Submit />
			</form>
		</div>
		<div id=acc_info>
			{{ prf.user.username }}<br>
			<b>Posts:</b> {{ prf.posts }}<br>
			<b>Join date:</b> {{ prf.join }}
		</div>
	</div>
	<div id=acc_options>
		<div class=acc_opt_div>
			<span class=acc_title>Change email address</span>

			{% if error.email_taken %}
			<div class=acc_err>The email address you specified is already in use, please choose another</div>
			{% elif success.email %}
			<div class=acc_suc>Your email address was successfully changed to '{{ prf.new_em }}',
				for it to take effect you will need to confirm it. Please check your email inbox
				for an email from us and confirm your email by following the provided link
			</div>
			{% endif %}

			<form action="{% url 'forum:my_account' %}" method=post>
				{% csrf_token %}
				<input type=hidden name=section value=email />

				<label for=acc_email class=acc_labels>Email:</label>
				<input name=email type=email id=acc_email class=acc_fields required />
				<button class="btn acc_btns" type=submit>Change email</button>
			</form>
		</div>

		<div class=acc_opt_div>
			<span class=acc_title>Change password</span>

			{% if error.password_cinv %}
			<div class=acc_err>The password you entered for you current password is invalid</div>
			{% elif error.password_match %}
			<div class=acc_err>The passwords you entered do not match</div>
			{% elif error.password_inv_len %}
			<div class=acc_err>The new password is too short, it must be at least 8 characters long</div>
			{% elif error.password_inv_lower %}
			<div class=acc_err>The new password must contain at least one lowercase letter (a-z)</div>
			{% elif error.password_inv_upper %}
			<div class=acc_err>The new password must contain at least one uppercase letter (A-Z)</div>
			{% elif error.password_inv_number %}
			<div class=acc_err>The new password must contain at least one number (0-9)</div>
			{% elif error.password_inv_special %}
			<div class=acc_err>The new password must contain at least one special character</div>
			{% elif success.password %}
			<div class=acc_suc>Password change successful</div>
			{% endif %}

			<form action="{% url 'forum:my_account' %}" method=post>
				{% csrf_token %}
				<input type=hidden name=section value=password />

				<label for=acc_cpass class=acc_labels>Current password:</label>
				<input name=cpassword type=password id=acc_cpass class=acc_fields required />
				<label for=acc_pass class=acc_labels>New password:</label>
				<input name=password type=password id=acc_pass class=acc_fields required />
				<label for=acc_pass2 class=acc_labels>Confirm new password:</label>
				<input name=password2 type=password id=acc_pass2 class=acc_fields required />
				<button class="btn acc_btns" type=submit>Change password</button>
			</form>
		</div>

		<div class=acc_opt_div>
			<span class=acc_title>Change notification settings</span>

			{% if success.notifications %}
			<div class=acc_suc>Notification settings change successful</div>
			{% endif %}

			<form action="{% url 'forum:my_account' %}" method=post>
				{% csrf_token %}
				<input type=hidden name=section value=notifications />

				<input name=notf type=checkbox id=acc_quote class=acc_fields value=quote
					{% if prf.notf_qr %}checked{% endif %}>
					Email me when one of my posts are quoted/referenced
				</input>

				<br>

				<input name=notf type=checkbox id=acc_auto_sub class=acc_fields value=auto_sub
					{% if prf.notf_auto %}checked{% endif %}>
					Automatically subscribe me to a thread if I make a post in it
				</input>
				<button class="btn acc_btns" type=submit>Update settings</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
