{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "forum/css/profile.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "forum/css/lst_tbl.css" %}">
{% endblock %}
{% block content %}
<div id=profile_main_cnt>
	<div id=profile_info>
		{% if profile.prf_pic %}
		<img id=profile_ppic src="{{ profile.prf_pic.url }}">
		{% endif %}
		{{ profile.user.username }}<br>
		Posts: {{ profile.posts }}<br>
	</div>
	<div id=profile_boards>
		{% if profile.admin %}
		<div class=no_content>This user has an admin account</div>
		{% else %}
		<p id=profile_inst>Click on a button to change the user's permission level for a board</p>
		<table id=lst_tbl>
			<tr>
				<th>Boards</th>
				{% if cur_prf.admin %}
				<th style="width: 15%; text-align: center;">Owner</th>
				{% endif %}
				<th style="width: 15%; text-align: center;">Moderator</th>
				<th style="width: 15%; text-align: center;">Access</th>
				<th style="width: 15%; text-align: center;">Banned</th>
			</tr>

			{% for board in boards %}
			<tr>
				<td>
					{{ board.name }}
				</td>

				{% if cur_prf.admin %}
				<td class=profile_options>
					<a style="width: 100%" href="{% url 'forum:profile_own' board.id profile.id %}"
							class="lst_tbl_btn btn
						profile_{% if board.own %}positive{% else %}negative{% endif %}">
					{% if board.own %}
					Yes
					{% else %}
					No
					{% endif %}
					</a>
				</td>
				{% endif %}

				<td class=profile_options>
					{% if not board.own %}
					{% if board.cown %}
					<a style="width: 100%" href="{% url 'forum:profile_mod' board.id profile.id %}"
							class="lst_tbl_btn btn
						profile_{% if board.mod %}positive{% else %}negative{% endif %}" >
						{% endif %}
						{% if board.mod %}
						Yes
						{% else %}
						No
						{% endif %}
						{% if board.cown %}
					</a>
					{% endif %}
					{% else %}
					Yes
					{% endif %}
				</td>

				<td class=profile_options>
					{% if board.own or board.mod or not board.exc %}
					Yes
					{% else %}
					<a style="width: 100%" href="{% url 'forum:profile_acc' board.id profile.id %}"
							class="lst_tbl_btn btn
						profile_{% if board.acc %}positive{% else %}negative{% endif %}">
						{% if board.acc %}
						Yes
						{% else %}
						No
						{% endif %}
					</a>
					{% endif %}
				</td>

				<td class=profile_options>
					<a style="width: 100%" href="{% url 'forum:profile_ban' board.id profile.id %}"
							class="lst_tbl_btn btn
						profile_{% if board.ban %}positive{% else %}negative{% endif %}">
						{% if board.ban %}
						Yes
						{% else %}
						No
						{% endif %}
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
