{% extends "forum/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "forum/css/thread.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "forum/css/codehilite.css" %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<title>{{ thread.title }} - {{ board.name }} - COS Forum</title>
{% endblock %}
{% block onready %}
<script>
nav_level("{{ board.name }}", "{% url 'forum:board' board.id 1 %}");
nav_level("{{ thread.title }}", "{% url 'forum:thread' thread.id 1 %}");
set_pages({{ page_id }}, {{ page_max }});

function quote_post(id, username, sel=true) {
	document.getElementById("thread_rm_quote").style.display = sel ? "" : "none";
	document.getElementById("thread_new_quote").style.display = sel ? "block" : "none";
	document.getElementById("thread_new_quote_user").innerHTML = sel ? username : "";
	if (sel) {
		t = document.getElementById("post_txt_" + id)
		document.getElementById("thread_new_quote_txt").innerHTML = t == null ? "<i>Deleted</i>" : t.innerHTML;
	} else {
		document.getElementById("thread_new_quote_txt").innerHTML = false;
	}
	document.getElementById("thread_quote_id").value = sel ? id : "-1";
}

{% if board.allow_files %}
document.getElementById("thread_attach_field").addEventListener("change", function() {
	files = document.getElementById("thread_attach_field").files;
	fn = document.getElementById("thread_new_file_names");
	fn.innerHTML = "Files (" + files.length + "):";
	for (var i = 0; i < files.length; i++) {
		fn.innerHTML += "<div class=thread_new_file_name>" + files[i].name + "</div>";
	}
});
{% endif %}

var simplemde = new SimpleMDE({
	element: document.getElementById("thread_new_post_txt"),
	forceSync: true,
	spellChecker: false,
	hideIcons: ["quote", "guide", "preview", "side-by-side"],
	tabSize: 4
});

</script>
{% endblock %}
{% block content %}
{% if posts %}
<table id=thread_tbl>
	{% for post in posts %}
	<tr>
		<td style="vertical-align: top;">
			<div class=thread_user_inf>
				{% if level <= 2 %}
				<a href="{% url 'forum:profile' post.user.id %}" class="thread_user_btn btn">
					{% endif %}
					{{ post.user.user.username }}
					{% if level <= 2 %}
				</a>
				{% endif %}
				<img class=thread_ppic src="
				{% if post.user.prf_pic %}
				{{ post.user.prf_pic.url }}
				{% else %}
				{% static "forum/images/no_pp.svg" %}
				{% endif %}" />
				<hr>
				Posts: {{ post.user.posts }}
			</div>
		</td>
		<td id=post_{{ post.id }} class=thread_post_txt_area>
			{% if post.quote %}
			<div>
				{% if post.quote.deleted %}
				<div style="color:red" class="mono thread_post_txt"><i>This quote was deleted</i></div>
				{% endif %}

				{% if not post.quote.deleted or level <= 2 %}
				<span class="thread_quote_heading">Quoting "{{ post.quote.user.user.username }}":</span>
				<div class="mono thread_post_quote">{{ post.quote.get_md|safe }}</div>
				{% endif %}
			</div>
			{% endif %}
			<div class=thread_post_info>
				{% if post.sticky %}
				<img class=in_svg src="{% static "forum/images/pin.svg" %}">
				{% else %}
				<span style="margin-left: 0.5%"/>
				{% endif %}
				#{{ post.id }} -
				{{ post.time }}
				{% if level <= 2 or level <= 3 and not thread.locked %}
				<a class="btn thread_post_inbtn" onclick='quote_post({{post.id}},
					"{{post.user.user.username}}")' href="#thread_new_quote">Quote</a>
				{% endif %}
				{% if level <= 2 %}
				<a class="btn thread_post_inbtn"href="{% url 'forum:post_sticky' post.id %}">
					{% if post.sticky %}
					Un-sticky
					{% else %}
					Sticky
					{% endif %}
				</a>
				<a class="btn thread_post_inbtn" href="{% url 'forum:post_delete' post.id %}">
					{% if post.deleted %}
					Un-delete
					{% else %}
					Delete
					{% endif %}
				</a>
				{% if level == 0 %}
				<a class="btn thread_post_inbtn" href="{% url 'forum:post_destroy' post.id page_id %}">
					Destroy
				</a>
				{% endif %}
				{% endif %}
			</div>
			{% if post.deleted %}
			<div style="color:red" class="mono thread_post_txt"><i>This post was deleted</i></div>
			{% if level <= 2 %}
			<hr style="border-style: solid">
			{% endif %}
			{% endif %}

			{% if not post.deleted or level <= 2 %}
			<div id="post_txt_{{post.id}}" class="mono thread_post_txt">{{ post.get_md|safe }}</div>
			{% if post.attachments.all %}
			<div id=thread_post_files>
				Attached files:<br>
				{% for attachment in post.attachments.all %}
				&#8226; <a href="{% url 'forum:file' attachment.id %}" class=thread_file_link download>
					{{ attachment.name }}</a><br>
				{% endfor %}
			</div>
			{% endif %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class=no_content>No posts available in thread</div>
{% endif %}

<div id=thread_new_quote>
	<span class=thread_quote_heading style="margin-left: 1%">Quoting "<span id=thread_new_quote_user></span>"</span>
	<div id=thread_new_quote_txt class=mono></div>
</div>

{% if level == 6 %}
<div class=no_content>Please confirm your email address to make posts</div>
{% elif level == 5 %}
<div class=no_content>You are banned from this board</div>
{% elif level == 4 %}
{% if user.is_authenticated %}
<div class=no_content>You do not have access to this board</div>
{% else %}
<div style="text-align: center; margin: 5% auto;">
	<a class=thread_login_warn href="{% url 'login' %}?next={{ request.path }}">Please login to post</a>
</div>
{% endif %}
{% elif thread.locked and level > 2 %}
<div class=no_content>Thread locked by moderator, no new posts allowed</div>
{% else %}
<form action="{% url 'forum:new_post' thread.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input id=thread_quote_id type=hidden name=quote value='-1' />

	<div id=thread_new_post_txt_area class=mono>
		<textarea name=text id=thread_new_post_txt required></textarea>
		<div id=thread_new_post_hints>
		Markdown editing is supported. To create a new paragraph use two newlines.
		To reference another post use the syntax @post_id@ where
		"post_id" can be found at the top of each post, just left of the post time
		(without the number sign)<br>
		Code highlighting is also supported. To start a code block, indent with one tab. Specify the
		language with three colons preceding it, e.g. ":::python". After that, while still using a
		minimum of one tab for indentation, write/paste the code as you normally would. Example:<br>
		<pre>

A python example (where ---&gt; represents a tab):

---&gt;:::python
---&gt;def foo(bar):
---&gt;---&gt;print(bar)

Normal text again</div>
	</div>
	<div id=tread_new_post_btn_block>
		<button class="btn thread_new_post_btn">Post</button>
		<button class="btn thread_new_post_btn" id=thread_rm_quote style="display:none"
			type=button onclick='quote_post(0, 0, false)'>Remove quote</button>
		{% if board.allow_files %}
		<label id=thread_upload_label for=thread_attach_field class="btn thread_new_post_btn">
			File upload
		</label>
		<div id=thread_new_file_names>
		</div>
		<input type=file name=attachments id=thread_attach_field multiple />
		{% endif %}
	</div>
</form>
{% endif %}

{% endblock %}
